.footer {
    width: 100vw;
    height: 150px;
    background-color: var(--tex-dark);
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}
.redes-sociales {
    display: flex;
    gap: 60px;
}
.redes-sociales i {
    color: var(--white);
    font-size: larger;
}
   



