.baner {
    width: 100vw;
    height: 80vh;
    background-color: var(--gradient-primary);
}

.productos {
    width: 100vw;
    height: 60vh;
  
}

.llamado-action {
    width: 100vw;
    height: 70vh;
    background: var(--gradient-secondary);

}